/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-xvhh9v6btv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-xvhh9v6btv] {
    flex: 1;
}

.sidebar[b-xvhh9v6btv] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-xvhh9v6btv] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-xvhh9v6btv]  a, .top-row[b-xvhh9v6btv]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-xvhh9v6btv]  a:hover, .top-row[b-xvhh9v6btv]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-xvhh9v6btv]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-xvhh9v6btv] {
        justify-content: space-between;
    }

    .top-row[b-xvhh9v6btv]  a, .top-row[b-xvhh9v6btv]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-xvhh9v6btv] {
        flex-direction: row;
    }

    .sidebar[b-xvhh9v6btv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-xvhh9v6btv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-xvhh9v6btv]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-xvhh9v6btv], article[b-xvhh9v6btv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-kyd3mx2qys] {
    background-color: #907657;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.navbar-toggler-icon[b-kyd3mx2qys] {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.navbar-brand[b-kyd3mx2qys] {
    font-size: 1.1rem;
}

.account_icon[b-kyd3mx2qys] {
    
}

.navbar-logo[b-kyd3mx2qys] {
    width: 20%;
    height: auto;
    min-width: 150px;
    max-width: 200px;
    padding: 1rem;
}
.svg-container[b-kyd3mx2qys] {
    position: absolute;
    top: 0px; /* Adjust this value to move the SVG up or down */
    right: 2%;
    z-index: 2
}
.svg-container svg[b-kyd3mx2qys] {
    flex: 0 0 auto;
    margin: 10px 0 0 1vw; /* Adjust horizontal margin as needed */
}
.responsive-svg[b-kyd3mx2qys] {
    width: 5vw;
    height: 5vw;
    max-width: 4rem;
    max-height: 4rem;
}

.logo-container[b-kyd3mx2qys] {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1
}

.time-text[b-kyd3mx2qys] {
    font-size: 2rem;
    color: #4D4A47;
    margin: 0 1rem;
}
.nav-container[b-kyd3mx2qys] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}
.mobile-menu-toggle[b-kyd3mx2qys] {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}
.nav-item[b-kyd3mx2qys] {
    font-size: clamp(20px, 2vw, 32px);
    padding: 0 0.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.nav-item[b-kyd3mx2qys]  a {
    color: #907657 !important;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-kyd3mx2qys]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: #907657 !important;
    font-weight: bold;
}

.nav-item[b-kyd3mx2qys]  a:hover {
    color: #A0522D;
    color: white;
}

@media (max-width: 640.98px) {
    .mobile-menu-toggle[b-kyd3mx2qys] {
        display: block;
    }
    .navbar-collapse[b-kyd3mx2qys] {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 250px;
        background-color: white;
        transition: left 0.3s ease;
        z-index: 999;
    }
        .navbar-collapse.show[b-kyd3mx2qys] {
            left: 0;
        }
    .nav-item[b-kyd3mx2qys] {
        padding: 0 0;
    }

    .navbar-nav[b-kyd3mx2qys] {
        flex-direction: column;
        padding-top: 60px;
    }
}

@media (min-width: 641px) {
    .navbar-toggler[b-kyd3mx2qys] {
        display: none;
    }

    .navbar-collapse[b-kyd3mx2qys] {
        display: flex !important;
    }

    .navbar-nav[b-kyd3mx2qys] {
        flex-direction: row;
        margin: 0 auto;
    }
    .mobile-menu-toggle[b-kyd3mx2qys] {
        display: none;
    }
}
